<div class="emp-add-container">
  <div class="emp-add-section">
    <div style="text-align: center; padding-top: 2px">
      <h2>ADD EMPLOYEE RECORD</h2>
    </div>
    <div class="emp-add-fields" (keyup)="resetFlag()">
      <h4>ENTER FIRST NAME :</h4>
      <input
        type="text"
        id="firstName"
        name="firstName"
        [(ngModel)]="firstName"
      />
    </div>
    <div class="emp-add-fields">
      <h4>ENTER LAST NAME :</h4>
      <input type="text" id="lastName" name="lastName" [(ngModel)]="lastName" />
    </div>
    <div class="emp-add-fields">
      <h4>ADD MANAGER :</h4>
      <select [(ngModel)]="managerId">
        <option *ngFor="let option of employeeList" [value]="option.employeeId">
          {{ option.firstname + " " + option.lastname }}
        </option>
      </select>
      <div>
        <br /><br /><button (click)="addEmployee()">Add Employee</button>
      </div>
      <div *ngIf="isrecordAdded" class="emp-success">
        <h4>Employee created Successfully</h4>
      </div>
    </div>
  </div>
</div>
